[submodule "packages/experimental-token/contracts/lib/openzeppelin-contracts"]
	path = packages/experimental-token/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
